.about{
  height: 90vh;


  .container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;

    img{
      width: 460px;
      border-radius: 5px;
    }

    .text{
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      h1{
        color: black;
        text-decoration: underline solid #a23c09;
        text-underline-offset: 10px;
        font-size: 40px;
        font-family: "Noto Sans";
        font-weight: 400;
      }

      p{
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: black;
        font-size: 20px;
        font-family: "Noto Sans";
        font-weight: 300;
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .about{
    height: 140vh;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;

    .container{
      height: 140vh;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      flex-direction: column;

      img{
        width: 360px;
      }
      .text{
        h1{
          font-size: 30px;
        }
        p{
          font-size: 13px;
        }
      }
    }
  }
}