.brands{
  height: 80vh;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  &_containe{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    h1{
      display: flex;
      text-decoration: underline solid #a23c09;
      text-underline-offset: 15px;
      justify-content: center;
      color: black;
      font-size: 40px;
      font-family: "Noto Sans";
      font-weight: 400;
    }

    &_item{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      column-gap: 60px;
      row-gap: 30px;
      &_image{
        box-shadow: 10px 10px 18px #8c8a8a;
        background-color: white;
        border-radius: 5px;
        img{
          width: 150px;
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 480px){
  .brands{
    height: 190vh;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    &_containe{
      height: 240vh;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      h1{
        font-size: 26px;
        text-align: center;
        text-underline-offset: 8px;
      }
      &_item{
        justify-content: center;
        &_image{
          img{
            width: 100px;
          }

        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 900px){
  .brands{
    height: 160vh;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    &_containe{
      height: 170vh;
      width: 100%;
      max-width: 710px;
      margin: 0 auto;
      h1{
        font-size: 30px;
        text-align: center;
        text-underline-offset: 8px;
      }
      &_item{

        justify-content: center;
        &_image{
          img{
            width: 170px;
          }

        }
      }
    }
  }
}