.malfunctions{
  height: 120vh;

  .containe {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h1{
      color: black;
      text-decoration: underline solid #a23c09;
      text-underline-offset: 15px;
      font-size: 40px;
      font-family: "Noto Sans";
      font-weight: 400;
      margin-bottom: 50px;
    }

    .map{
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      row-gap: 40px;


      .product{
        img{
          width: 180px;
        }
        background-color: white;
        display: flex;
        align-items: center;
        box-shadow: 10px 10px 18px #8c8a8a;
        border-radius: 5px;
        padding: 0 10px;
        .text{
          display: flex;
          flex-direction: column;
          p{
            width: 150px;
            font-size: 20px;
            font-family: "Noto Sans";
            font-weight: 600;
          }
          span{
            font-size: 20px;
            color: red;
          }
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .malfunctions{
    height: 240vh;

    .containe{
      justify-content: flex-start;
      height: 300vh;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;

      h1{
        margin-top: 50px;
        font-size: 26px;
        text-underline-offset: 8px;
        text-align: center;
      }

      .map{
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 20px;
        .product{
          img{
            width: 120px;
          }
          .text{
            p{
              font-size: 14px;
            }
            span{
              font-size: 14px;
            }
          }

        }

      }
    }
  }
}


@media (min-width: 768px) and (max-width: 900px) {
  .malfunctions{
      height: 180vh;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
      .containe{
        width: 100%;
        max-width: 710px;
        margin: 0 auto;

        h1{
          margin-top: 50px;
          font-size: 26px;
          text-underline-offset: 8px;
          text-align: center;
        }
      .map{

        .product{
          img{
            width: 150px;
          }
        }
      }
    }
  }
}
