.price{
  height: 100vh;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  &_containe{
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    box-shadow: 0px 0px 100px 14px rgba(0, 0, 0, 0.329);
    background-color: white;
    border-radius: 5px;
    h1{
      color: black;
      text-decoration: underline solid #a23c09;
      text-underline-offset: 15px;
      font-size: 40px;
      font-family: "Noto Sans";
      font-weight: 400;
      margin-top: 50px;
    }
    &_item{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-end;
      column-gap: 50px;
      line-height: 15px;
      &_text{
        display: flex;
        justify-content: space-between;
        text-align: start;
        column-gap: 10px;

        p{
          font-size: 18px;
          color: black;
          font-family: "Noto Sans";
          font-weight: 400;
        }
        span{
          font-size: 18px;
          color: #a23c09;
          font-family: "Noto Sans";
          font-weight: 700;


        }
      }
      hr{
        width: 500px;
        margin-top: 10px;
      }
    }
    button{
      width: 500px;
      height: 50px;
      border-radius: 5px;
      border: none;
      background-color: #a23c09;

      a{
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-family: "Noto Sans";
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .price{
    height: 180vh;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    &_containe{
      height: 170vh;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      column-gap: 0;
      h1{
        font-size: 26px;
        text-underline-offset: 8px;
      }
      &_item{
        flex-direction: column;
        flex-wrap: nowrap;
        &_text{
            column-gap: 0;
          p{
            font-size: 12px;
          }
          span{
            font-size: 12px;
          }
        }
        hr{
          width: 300px;
          margin-top: 6px;
        }
      }
      button{
        width: 250px;
        height: 40px;
        a{
          font-size: 20px;

        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .price{
    height: 170vh;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    &_containe{
      height: 170vh;
      width: 100%;
      max-width: 710px;
      margin: 0 auto;
      column-gap: 0;
      h1{
        font-size: 26px;
        text-underline-offset: 8px;
      }
      &_item{
        flex-direction: column;
        flex-wrap: nowrap;
        &_text{
          column-gap: 0;
          p{
            font-size: 14px;
          }
          span{
            font-size: 14px;
          }
        }
        hr{
          width: 620px;
          margin-top: 6px;
        }
      }
      button{
        width: 250px;
        height: 40px;
        a{
          font-size: 20px;
        }
      }
    }
  }
}